/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif; }

/* variables de colores */
:root {
  --azul-oscuro: rgba(13, 26, 100, 0.849); }

/* prop de secciones en NOSOTROS */
.secciones-nos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 5rem; }
  .secciones-nos h3 {
    height: 2rem;
    text-align: center;
    margin: 1rem;
    color: white;
    text-shadow: 0 0 5px black; }
  .secciones-nos p {
    width: 100%;
    text-align: justify;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8); }

.imagen-nos {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  border-radius: 10px; }

/* prop de las tarjetas de PRODUCTOS */
.cont-pro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: stretch;
  gap: 0.3rem;
  padding-bottom: 2rem;
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.7), rgba(27, 27, 27, 0.7)), url(../img/fondo-dos.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 5px #000; }

.secciones-pro {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 98%;
  height: 30rem;
  background-color: #c7c7c7;
  transition: 1s ease all;
  border-radius: 10px;
  box-shadow: 0 0 2px black; }

.imagen-pro {
  width: 99.5%;
  height: 50%;
  position: absolute;
  object-fit: cover;
  border: 1px solid #dddddd;
  border-radius: 10px 10px 0 0;
  transition: 3s; }

.secciones-pro h2 {
  text-align: start;
  position: absolute;
  top: 16rem;
  left: 1.5rem;
  font-size: 1rem;
  width: 90%;
  height: 2rem;
  line-height: 2rem;
  color: #000000;
  overflow: hidden; }

.secciones-pro h3 {
  text-align: start;
  position: absolute;
  top: 18rem;
  left: 1.5rem;
  font-size: 0.9rem;
  line-height: 1rem;
  height: 3rem;
  width: 90%;
  color: #000000;
  overflow: hidden; }

.secciones-pro h4 {
  text-align: start;
  align-content: flex-end;
  position: absolute;
  bottom: 3.5rem;
  left: 1.5rem;
  font-size: 0.8rem;
  line-height: 1rem;
  width: 90%;
  height: 1rem;
  margin-top: 0.5rem;
  color: #000000;
  overflow: hidden; }

.secciones-pro .desc {
  font-weight: bold;
  position: absolute;
  bottom: 0.8rem;
  left: 1rem;
  text-align: center;
  font-size: 0.7rem;
  width: 4rem;
  padding: 4px;
  border-radius: 5px;
  color: #faf9f9;
  text-shadow: 0 0 2px #000;
  background-color: #02b10a;
  box-shadow: -1px 1px 4px #3a3a3a; }

.secciones-pro .prec {
  font-weight: bold;
  text-align: right;
  position: absolute;
  bottom: 4px;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  width: 90%;
  color: #000000;
  border-top: 1px solid #797979; }

@media screen and (min-width: 600px) {
  .cont-pro {
    gap: 0.6rem; }
  .secciones-pro {
    height: 25rem;
    min-width: 240px;
    max-width: 280px;
    box-shadow: 0 0 10px black; }
  .secciones-pro:hover {
    scale: 1.1;
    z-index: 1;
    background-color: #e6ebd6;
    box-shadow: 0 1px 22px black; }
  .secciones-pro h2 {
    top: 13rem; }
  .secciones-pro h3 {
    top: 15rem;
    left: 1.5rem;
    font-size: 0.9rem;
    line-height: 1rem;
    height: 3rem;
    width: 75%;
    color: #000000;
    overflow: hidden; } }

@media screen and (min-width: 900px) {
  .cont-pro {
    gap: 1rem; } }

.cont-tra-uno {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding-bottom: 2rem;
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.7), rgba(27, 27, 27, 0.7)), url(../img/fondo-dos.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 5px #000; }

.cont-tra-dos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding-top: 2rem;
  background: linear-gradient(to bottom, rgba(58, 58, 58, 0.98), rgba(51, 51, 51, 0.98));
  box-shadow: 0 0 5px #000; }

.secciones-tra {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: linear-gradient(to bottom, rgba(68, 68, 68, 0.98), rgba(43, 43, 43, 0.98));
  margin-top: 0.2rem;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .secciones-tra h3 {
    height: 4rem;
    text-align: justify;
    margin: 1rem;
    color: white;
    text-shadow: 0 0 5px black; }
  .secciones-tra p {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8); }

.imagen-tra {
  width: 100%;
  height: 60%;
  position: relative;
  object-fit: cover;
  border-radius: 10px 10px 0 0; }

@media screen and (min-width: 600px) {
  .secciones-tra {
    width: 99%;
    height: 200px;
    border-radius: 10px;
    transition: all 0.5s ease; }
    .secciones-tra:hover {
      height: 210px;
      background: linear-gradient(to bottom, rgba(29, 29, 29, 0.98), rgba(12, 12, 12, 0.98)); }
    .secciones-tra h3 {
      position: absolute;
      top: 0.5rem;
      left: 45%;
      width: 40%;
      max-height: 20%;
      text-align: start;
      margin: 0.5rem;
      text-shadow: 0 0 5px black;
      overflow: hidden; }
    .secciones-tra p {
      width: 40%;
      position: absolute;
      bottom: 1rem;
      left: 45%;
      text-align: start;
      font-weight: bold;
      color: white;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
      overflow: hidden;
      margin-top: 1rem;
      max-height: 50%; }
    .secciones-tra .imagen-tra {
      width: 40%;
      height: 100%;
      position: absolute;
      left: 2px;
      top: 0;
      object-fit: cover;
      border-radius: 10px 0 0 10px; } }

form {
  margin: auto;
  align-content: center;
  margin-top: 4rem;
  background: linear-gradient(to bottom, rgba(58, 58, 58, 0.98), rgba(51, 51, 51, 0.98));
  box-shadow: 0 0 5px #000;
  max-width: 3500px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px #111; }

.container form .titulo-contacto {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem; }

.container form p {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem; }

.row {
  padding-bottom: 3rem; }

.label-contacto {
  color: #fff; }

input, textarea {
  font-size: 1rem;
  color: #fff;
  width: 100%;
  background-color: #444444;
  padding: 5px;
  margin-bottom: 1rem; }

textarea {
  min-height: 120px;
  max-height: 200px; }

#btn-contacto-enviar {
  font-size: 1.5rem;
  color: #000;
  padding: 1rem;
  margin-bottom: 3rem;
  background-color: #3aac37;
  border: 2px solid #163116;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s; }
  #btn-contacto-enviar:hover {
    background-color: #13ee0c;
    scale: 1.03; }

.titulo-secc-der {
  color: #fff;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem; }

/* ocultamos la barra de navegacion lateral y el aside para celular */
.navegacion {
  display: none; }

@media screen and (min-width: 600px) {
  .navegacion {
    grid-area: naveg;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; }
    .navegacion .boton-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 75%;
      height: 10rem;
      transition: 1s ease all;
      border-radius: 10px;
      box-shadow: 0 5px 10px #000; }
      .navegacion .boton-nav:hover {
        height: 20rem; }
  .img-nav {
    width: 90%;
    height: 95%;
    position: relative;
    object-fit: cover;
    border: 1px solid #3f3f3f;
    border-radius: 10px;
    /*filter: blur(2px);*/
    transition: 3s; }
  .img-nav:hover {
    filter: none; }
  .navegacion div h4 {
    text-align: center;
    position: absolute;
    bottom: 5px;
    font-size: 0.8rem;
    width: 90%;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 5px #000;
    overflow: hidden; } }

/* ocultamos la barra de navegacion lateral y el aside para celular */
.aside {
  display: none; }

@media screen and (min-width: 600px) {
  /* prop. del aside */
  .aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    list-style: none;
    width: 75%;
    height: 16rem;
    gap: 0.5rem;
    margin-bottom: 5rem; }
  .card:hover .front {
    transform: perspective(600px) rotateY(180deg); }
  .card:hover .back {
    transform: perspective(600px) rotateY(360deg); }
  .card .face {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 1.2s;
    border-radius: 10px; }
  .card .face .capa {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%; }
  .card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    justify-content: center; }
  .card .front img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .card .front h4 {
    position: absolute;
    bottom: 5%;
    width: 95%;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
    line-height: 3rem;
    color: #ffffff;
    border-top: solid 1px #ffffff;
    text-shadow: 0 0 4PX #000; }
  .card .back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(to bottom, rgba(9, 9, 226, 0.6), rgba(0, 0, 0, 0.945));
    box-shadow: 0 5px 10px #000;
    transform: perspective(600px) rotateY(180deg); }
  .card .back img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: brightness(0.3); }
  .card .back h4 {
    position: absolute;
    top: 1rem;
    font-size: 1rem; }
  .card .back p {
    position: absolute;
    bottom: 5%;
    font-size: 0.9rem;
    width: 80%; } }

/* prop. del footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  bottom: 0;
  left: 0;
  padding: 6rem 8%;
  margin-top: 10rem;
  background-color: #333333; }

footer .logo {
  height: 100px;
  margin-bottom: 1rem; }

.icons-container, .footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem; }

.footer-menu-container {
  list-style-type: none;
  font-size: 1.2rem; }

.social-icon {
  height: 60px;
  width: 60px;
  border: solid 1px #696969;
  border-radius: 50px;
  margin: 1rem; }

.social-icon img {
  width: 100%;
  filter: grayscale(1);
  transition: .5s; }
  .social-icon img:hover {
    filter: grayscale(0);
    scale: 1.3; }

.menu-item {
  margin: 1rem 1rem;
  opacity: 0.6;
  color: #e2e2e2;
  transition: 0.7s; }
  .menu-item:hover {
    scale: 1.3;
    color: #f0d854; }

.copyrigth {
  opacity: 0.6;
  text-align: center;
  margin-top: 1rem;
  color: #e2e2e2; }

/* media queries para tablets */
@media screen and (min-width: 600px) {
  footer {
    height: 60vh; } }

/* prop del BODY */
body {
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.1), rgba(3, 3, 3, 0.1)), url(../img/fondo-uno.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

/* prop. del HEADER, que incluyen su imagen y el menu */
.encab {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 2;
  justify-content: space-between;
  /*separa horizontalmente la imagen y el nav*/
  align-items: center;
  height: 60px;
  background: linear-gradient(to bottom, #444444, #242424, #141414, #0f0f0f);
  border-bottom: 3px solid #000000;
  box-shadow: 0px 3px 15px black;
  transition: 1.5s; }
  .encab a img {
    height: 50px;
    display: flex;
    margin-left: 2rem;
    transition: 1.5s; }
  .encab nav {
    /* prop el nav */
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 60px;
    padding-top: 60px;
    background-color: #313131;
    transition: 0.7s; }
    .encab nav a {
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      width: 90vw;
      padding: 2rem;
      font-size: 1.2rem;
      color: #fafafa;
      overflow: hidden;
      border-bottom: 1px solid #4d4d4d;
      border-radius: 0.5rem;
      transition: 0.3s; }

/* prop del menu hamburguesa */
.checkbtn {
  display: flex;
  height: 35px;
  filter: invert(1);
  margin-right: 2rem;
  cursor: pointer; }

#check:checked ~ nav {
  display: flex;
  right: 0; }

#check {
  display: none; }

/* estilo de la imagen de portada */
.portada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  height: 90vh;
  padding: 1rem;
  background-image: url(../img/fondo-index.jpg);
  background-position: center;
  background-size: cover;
  /* propiedad para dejar fija esta imagen */
  background-attachment: fixed;
  transition: 1s;
  /* prop del logo de portada */
  /* porp del texto debajo del logo */
  /*prop del boton vamos */ }
  .portada .logo {
    display: flex;
    flex-direction: column;
    height: 20%; }
  .portada .texto {
    width: 50%;
    text-align: center;
    justify-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 3px black; }
  .portada .vamos {
    padding: 1rem 2rem;
    height: 4rem;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    border: solid 2px #747474;
    border-radius: 3rem;
    text-shadow: 0 1px 3px black;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s; }
    .portada .vamos:hover {
      scale: 1.1;
      color: #e1f129;
      box-shadow: 0 0 10px #000; }

/* prop. del MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  main .tituloh1 {
    height: 14rem;
    width: 70%;
    align-self: center;
    justify-self: center;
    text-align: center;
    line-height: 14rem;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 3px black; }

#comienzo-main {
  padding-top: 6rem; }

.cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  /* estilos del primer grupo de contenido principal */
  /* estilos del segundo grupo de contenido principal */ }
  .cont .cont-uno {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0.7), rgba(27, 27, 27, 0.7)), url(../img/fondo-dos.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 5px #000; }
  .cont .cont-dos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0.7), rgba(27, 27, 27, 0.7)), url(../img/fondo-dos.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 5px #000; }

/* estilos del titulo h2 valido para los dos grupos de contenido */
.tituloh2 {
  width: 90%;
  height: 5rem;
  text-align: center;
  justify-items: center;
  line-height: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 6px black; }

/* estilos del cada seccion valido para los dos grupos de contenido */
.secciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: cover;
  height: 30rem;
  margin-bottom: 2rem; }
  .secciones .imagen-secc {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover; }
  .secciones h2 {
    height: 2rem;
    position: absolute;
    top: 3%;
    left: 4%;
    font-size: 1.2rem;
    color: white;
    text-shadow: 0 0 5px black; }
  .secciones p {
    width: 100%;
    position: absolute;
    bottom: 4%;
    padding: 1rem 1rem 1rem 20vh;
    text-align: end;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.39);
    text-shadow: 0 0 8px black; }

/* media queries para tablets */
@media screen and (min-width: 600px) {
  /* prop. del HEADER, que incluyen su imagen y el menu */
  .encab {
    height: 70px; }
    .encab nav {
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%;
      height: 100%;
      right: 2%;
      top: 0;
      padding-top: 0;
      text-align: center;
      justify-content: end;
      gap: 0.3rem;
      margin-right: 0.2rem;
      background-color: transparent; }
    .encab a img {
      height: 60px; }
    .encab nav a {
      text-decoration: none;
      font-weight: bold;
      font-size: 0.7rem;
      color: #fafafa;
      padding: 5px 12px;
      border: solid 1px #1d1d1d;
      border-radius: 6px;
      transition: .5s ease all;
      width: 12%;
      height: 2.5rem;
      line-height: 1.8rem;
      overflow: hidden;
      transition: 1.5s; }
      .encab nav a:hover {
        color: #e1f129;
        background: radial-gradient(ellipse at top, #444428, #222222);
        box-shadow: 0px 0px 2px white;
        scale: 1.05; }
    .encab .checkbtn {
      display: none; }
  /* prop. del MAIN */
  main {
    display: grid;
    grid-template-columns: 0.8fr 4fr 1.5fr;
    grid-template-rows: 12rem auto;
    grid-template-areas: "tit tit tit" "naveg cont aside";
    align-items: flex-start;
    margin-top: 1rem;
    /* prop. de las secciones del main */ }
    main .tituloh1 {
      grid-area: tit;
      height: 12rem; }
    main .cont {
      grid-area: cont;
      display: flex; }
      main .cont .cont-uno {
        padding: 0 5px 5px 5px; }
      main .cont .cont-dos {
        padding: 0 5px 5px 5px; }
  /* prop de SECCIONES */
  .secciones {
    height: 30rem;
    width: 100%;
    border-radius: 10px;
    transition: 1s ease all;
    box-shadow: 0 5px 10px #000; }
    .secciones:hover {
      height: 31rem;
      border: solid 2px #262740;
      box-shadow: 0 0 3px white; }
    .secciones .imagen-secc {
      border-radius: 10px; } }

/* media queries para pantalla grande */
@media screen and (min-width: 900px) {
  /* prop. del HEADER, que incluyen su imagen y el menu */
  .encab {
    height: 80px; }
  .encab a img {
    height: 70px; }
  .encab nav a {
    font-size: 1rem;
    width: 13%; } }
