.cont-tra-uno{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding-bottom: 2rem;
    background: $fondo-secciones;
    background-position: center;
    background-size: auto;
    box-shadow: 0 0 25px #000;
    border-radius: 10px;
}

.secciones-tra{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    height: 30rem;
    background: $fondo-productos;
    margin-bottom: 1rem;
    padding-bottom: 6rem;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    h3{
        height: 4rem;
        text-align: center;
        margin: 1rem;
        font-size: 1.5rem;
        color: rgb(0, 0, 0);
    }
    p{
        width: 90%;
        position: absolute;
        top: 70%;
        text-align: center;
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
        overflow: hidden;
    }
}

.imagen-tra{
    width: 100%;
    height: 60%;
    position: relative;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}



@media screen and (min-width:600px){
    .cont{
        .cont-tra-uno{
            width: 90%;    
            .secciones-tra{
                width: 95%;
                height: 200px;
                border-radius: 10px;
                transition: all 0.5s ease;
                &:hover{
                    background: $fondo-productos-hov;
                }
                h3{
                    position: absolute;
                    display: block;
                    top: 0.5rem;
                    left: 45%;
                    width: 50%;
                    height: 3.5rem;
                    text-align: start;
                    margin: 0.5rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                p{
                    width: 50%;
                    position: absolute;
                    top: 5rem;
                    bottom: 1rem;
                    left: 45%;
                    text-align: start;
                    overflow: hidden;
                    margin-top: 1rem;
                    max-height: 50%;
                }
                .imagen-tra{
                    width: 40%;
                    height: 100%;
                    position: absolute;
                    left: 2px;
                    top: 0;
                    object-fit: cover;
                    border-radius: 10px 0 0 10px;
                }
            }
        }
    }
}