$fondo-secciones: linear-gradient(to bottom, rgba(89, 88, 88, 0.3),rgba(97, 95, 95, 0.3)),
url(../img/fondo-dos.jpg);

$fondo-productos: linear-gradient(to bottom, rgba(255, 255, 255, 0.915),rgba(195, 195, 195, 0.9),rgba(203, 203, 203, 0.95),rgba(248, 248, 248, 0.95));

$fondo-productos-hov: rgb(255, 255, 255);